:root {
  /* Margin and padding variables */
  --space-4: 0.25rem; /* 4px */
  --space-8: 0.5rem; /* 8px */
  --space-16: 1rem; /* 16px */
  --space-24: 1.5rem; /* 24px */
  --space-32: 2rem; /* 32px */
  --space-40: 2.5rem; /* 40px */
  --space-64: 4rem; /* 64px */
  --space-80: 5rem; /* 64px */

  /* Color variables */
  --color-ink-1: #ffffff;
  --color-ink-2: #e8ebf0;
  --color-ink-3: #c3cdd7;
  --color-ink-4: #9499a3;
  --color-ink-5: #63666b;
  --color-ink-6: #000000;

  --color-sky-1: #00c0ed;
  --color-sky-2: #398aff;
  --color-sky-3: #1944b4;

  --color-gum-1: #ff617f;
  --color-gum-2: #e52151;
  --color-gum-3: #bb1147;

  --color-yolk-1: #ffd126;
  --color-yolk-2: #fe8100;
  --color-yolk-3: #d52100;

  /* Shadows */
  --shadow-3: var(--space-8) var(--space-8) var(--color-ink-6);

  /* Borders */
  --border: 2px solid var(--color-ink-6);
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Fonts */

@font-face {
  font-family: "Obviously";
  src: url("fonts/Obviously-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Degular text";
  src: url("fonts/DegularText-Light.otf");
  font-weight: 300;
  font-style: normal;
}

/* Style start */

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: var(--space-64) var(--space-40);
  background-color: var(--color-ink-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-64);
}

header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-24);
  align-self: stretch;
}

#file-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-64);
  align-self: stretch;
}

.year {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-24);
  align-self: stretch;
}

ul {
  /*display: flex;
  flex-wrap: wrap;
  gap: var(--space-24);
  align-self: stretch;*/
  display: grid;
  width: 100%;
  gap: var(--space-24) var(--space-24);
  grid-template-columns: auto auto auto;
}

li {
  background-color: var(--color-ink-1);
  box-shadow: var(--shadow-3);
  border: var(--border);

  display: flex;
  padding: var(--space-40) var(--space-24) var(--space-24) var(--space-24);
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 0 0 0;

  /* width: calc(
    (100% - 2 * var(--space-24)) / 3
  ); Adjust width for 3 per row with gutters */
  /* margin-bottom: var(--space-24);*/
}

.emoji {
  font-size: 1.5rem; /* Adjust the size as needed */
  text-align: left;
  margin-bottom: var(--space-8);
}

/* Card footer */
.media-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.playbar {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
}

.icon-button {
  background-color: var(--color-ink-1);
  border: none;
  cursor: pointer;
  display: flex;
  padding: var(--space-8);
  align-items: center;
  border-radius: 100%;
  transition: background-color 0.2s;
}

.icon-button:hover {
  background-color: var(--color-ink-2);
}

.icon-container {
  display: flex;
}

.icon-button {
  position: relative; /* Required for popover positioning */
}

.icon-button .popover {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: var(--space-8);
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Half of the width to center it */
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-button:hover .popover {
  visibility: visible;
  opacity: 1;
}

/* Typography */

* {
  font-family: "Degular text", sans-serif;
  font-weight: 300;
}

h1 {
  font-family: "Obviously";
  font-size: 5rem;
  line-height: 5rem;
  color: var(--color-ink-6);
  font-weight: 300;
}

h2 {
  font-family: "Obviously";
  font-size: 2.5rem;
  line-height: 140%;
  font-weight: 300;
}

h3 {
  font-family: "Degular text";
  font-size: 1.3rem;
  font-weight: 300;
}

p {
  font-family: "Degular text";
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 300;
  color: var(--color-ink-6);
}
